@page "/"
@inject NavigationManager NavigationManager

<div class="row-layout reset-password-container">
    <div class="column-layout form">
        <div class="column-layout group">
            <div class="column-layout group_1">
                <h4 class="content">
                    Reset password
                </h4>
                <p class="typography__body-2 content">
                    Please, type the email you have associated with your account
                </p>
            </div>
            <IgbInput Label="Email" Placeholder="Min 8 characters" Outlined="true" class="input" reset-password-scope></IgbInput>
            <IgbButton @onclick="@(e => Navigate("set-new-password"))" class="button" reset-password-scope>
                SEND RESET LINK
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
