@inherits LayoutComponentBase

<div class="column-layout in-app-examination-container">
    <div class="row-layout group">
        <div class="row-layout group_1">
            <img src="assets/WIE-Logo-StandAlone.svg" class="image" />
            <h6 class="h6">
                Organization
            </h6>
        </div>
    </div>
    <div class="view-container">
        @Body
    </div>
    <div class="row-layout footer">
        <p class="typography__body-2 text">
            Copyright © 2022 - Wilson Industrial Electric, Inc
        </p>
    </div>
</div>

@code {
}
